    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/blanco.svg" alt="Logo STUDIO BASS" width="50">
            </div>
            <div class="footer-links">
                <a href="home.html">Inicio</a>
                <a href="servicios.html">Servicios</a>
                <a href="paquetes.html">Paquetes</a>
                <a href="conocenos.html">Conocenos</a>
                <a href="contacto.html">Contacto</a>
            </div>
            <div class="footer-social">
                <a href="#" target="_blank"><img src="/instagram.png" alt="Instagram" width="30"></a>
                <a href="#" target="_blank"><img src="/facebook.png" alt="Facebook" width="30"></a>
                <a href="#" target="_blank"><img src="/mail.png" alt="LinkedIn" width="30"></a>
            </div>
            <div class="footer-info">
                <p>Email: info&#64;studiobass.com</p>
                <p>Teléfono: +123 456 7890</p>
                <p>© 2023 STUDIO BASS. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>